@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Roboto", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-nav {
  @apply text-secondary dark:text-dark-secondary text-lg font-medium cursor-pointer hover:text-primary hover:dark:text-dark-primary;
}

.btn-nav-checked {
  @apply bg-gradient bg-clip-text text-transparent text-lg font-medium cursor-pointer;
}

.switches-bg {
  @apply md:w-[70px] md:h-[40px] items-center justify-between sm:p-2 rounded-md md:bg-accent md:dark:bg-dark-accent;
}